<body>
    <% intrebari.forEach(function(intrebare, index) { %>
        <div id="intrebare<%= index + 1 %>"> <%= intrebare.intrebare %> </div><br/>
        <% intrebare.variante.forEach(function(varianta, vIndex) { %>
            <input type="radio" id="intrebare<%= index + 1 %>R<%= vIndex + 1 %>" name="intrebare<%= index + 1 %>" value="<%= vIndex %>">
            <label for="intrebare<%= index + 1 %>R<%= vIndex + 1 %>"><%= varianta %></label><br/>
        <% }); %></br>
    <% }); %>

    <button id  ="submit" >Submit   </button>
</body>